name: WorkflowCheck
#tt
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

  DeployTesting:
    name: Deploy to Testing & Checking
    if: github.event.ref == 'refs/heads/main'
    needs: [Build]
    runs-on: ubuntu-latest
    environment: 
      name: Testing & Checking
    steps:
      - name: Deploy
        run: echo I am deploying! 
