name: Merge main into production

on:
  push:
    branches:
      - main

jobs:
  merge-production:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: production
    - name: Merge main into production
      run: |
        git fetch
        git checkout production
        git merge origin/main --no-edit
        git push origin production

